<!DOCTYPE html>
<html>
<head>
	<title>HighRes Imgaes</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/icon.min.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="{% static 'js/semantic.min.js' %}"></script>
	<style type="text/css">
	.ui.container > h1 {
      font-size: 3em;
      text-align: center;
      font-weight: normal;
    }
    .ui.container > h2.dividing.header {
      font-size: 2em;
      font-weight: normal;
      text-align: center;
      margin: 4em 0em 3em;
    }


    .ui.table {
      table-layout: fixed;
    }
    .ui.action.input input[type="file"] {
  		display: none;
	}

	</style>
</head>
<body>
	{% block content %}
	{% endblock %}
</body>
<script type="text/javascript">
	$("input:text").click(function() {
  $(this).parent().find("input:file").click();
});

$('input:file', '.ui.action.input')
  .on('change', function(e) {
    var name = e.target.files[0].name;
    $('input:text', $(e.target).parent()).val(name);
  });
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');
  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
</script>
</html>